/* styles/Home.module.css */

  
  .header {
    /*background: url('https://placekitten.com/1920/400') center/cover no-repeat;*/
    background: url('/images/banner.jpg') center/cover no-repeat;
    
    color: #fff;
    text-align: center;
    padding: 1em;
  }

  .rounded-logo {
    border-radius: 50%;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2em;
  }
  
  .header_img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow content to wrap to the next line on smaller screens */
  }
  
  .header-content div {
    flex: 1;
    padding: 0 20px;
  }
  
  @media (max-width: 768px) {
    .header-content {
      flex-direction: column;
    }
  
    .header-content div {
      padding: 20px 0;
    }
  }
  
  .nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
  }
  
  .nav a {
    color: #fff;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    margin-top: 20px; /* Add margin to separate from content */
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-content .icons {
    display: flex;
    align-items: center;
  }
  
  .footer-content .icons i {
    font-size: 32px; /* Increased size */
    margin-right: 20px; /* Increased spacing */
  }
  
  .footer-content .social-icons i {
    font-size: 32px; /* Increased size */
    margin: 0 15px; /* Increased spacing */
  }

  
  